.ticket-card {
    padding: 4rem;
    width: 100%;
    border: 1px solid #ddd;
}
.ticket-column[data-v-7e2d4cec] {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 1rem;
}